.sidebar {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(134, 227, 255, 0.19) 44.27%,
    rgba(252, 252, 255, 0.57) 92.19%
  );
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  height: 100%;
  left: 0px;
  top: 0px;
}
.sidebarMenu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
