.header {
  display: flex;
  align-items: flex-start;
  position: relative;
  margin-bottom: 4rem;
}
.title {
  margin-right: 70%;
}
.pageTitile {
  width: 100%;
  font-family: "Helvetica Neue";
  font-size: 36px;
  font-weight: 700;
  line-height: normal;
  color: "#4C4C66";
  display: flex;
  opacity: 0.9;
}
.pageDescription {
  font-family: "Helvetica Neue";
  font-size: 15px;
  font-weight: 400;
  line-height: normal;
  color: "#6F6C99";
  opacity: 0.7;
}
.menuIcn {
  margin-top: 0.5rem;
  margin-right: 39.39px;
  display: flex;
  align-items: center;
}
.union {
  width: 23.73px;
  height: 23.73px;
}
.userInfo {
  display: flex;
  align-items: flex-start;
  position: relative;
  right: 0rem;
}
.face {
  width: 2rem;
  height: 2rem;
  align-self: stretch;
  margin-right: 11.86px;
  border-radius: 4px;
  object-fit: cover;
}
.name {
  margin-top: 8.31px;
  padding: 0 3.44px 0 0;
  display: flex;
  align-items: flex-start;
}
.userName {
  font-family: "Helvetica Neue";
  font-size: 15px;
  font-weight: 500;
  line-height: normal;
  color: "#6F6C99";
  align-self: stretch;
  display: flex;
  text-align: right;
}
.downArrow {
  width: 3.04%;
  height: 36.86%;
  margin-top: 8.84px;
}

p {
  margin: 0;
}
