// This is the project stylesheet

// Colors
$dark-1: rgba(76, 76, 102, 1);
$dark-2: rgba(111, 108, 153, 1);
$hot-pink: rgba(255, 64, 165, 1);
$medium-aquamarine: rgba(96, 215, 141, 1);
$transparent-slate-gray: rgba(120, 118, 148, 0.14);
$white: rgba(255, 255, 255, 1);

// Typographies
@mixin helvetica-neue-12-bold {
  font-family: "Helvetica Neue";
  font-size: 12px;
  font-weight: 700;
  line-height: normal;
}

@mixin helvetica-neue-12-regular {
  font-family: "Helvetica Neue";
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
}
@mixin helvetica-neue-12-light {
  font-family: "Helvetica Neue";
  font-size: 12px;
  font-weight: 300;
  line-height: normal;
}
@mixin helvetica-neue-14-bold {
  font-family: "Helvetica Neue";
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
}
@mixin helvetica-neue-14-medium {
  font-family: "Helvetica Neue";
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
}
@mixin helvetica-neue-14-regular {
  font-family: "Helvetica Neue";
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}
@mixin helvetica-neue-16-bold {
  font-family: "Helvetica Neue";
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
}
@mixin helvetica-neue-16-regular {
  font-family: "Helvetica Neue";
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}
@mixin helvetica-neue-18-bold {
  font-family: "Helvetica Neue";
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
}
